<section class="about-us">
  <header class="page-header">
    <h1>About Us</h1>
  </header>
  <div class="container">
    <p>
      Welcome to Jungle, your online gateway to the lush, vibrant world of indoor plants. Born from a passion for greenery and the belief 
      that everyone deserves their personal slice of paradise, Jungle was established to make the joy of plant parenting accessible to all.
    </p>
    <h2 class="py-2">Our Story</h2>
    <p>
    Jungle sprouted from humble beginnings—a small team of plant enthusiasts turned entrepreneurs. We noticed that in our fast-paced lives, 
    the connection to nature often gets lost. Jungle aims to bridge that gap by delivering a piece of the wild directly to your doorstep. 
    Our journey began with a simple mission: to share our love for plants with others and help them discover the endless benefits of having 
    green companions.
    </p>
    <h2 class="py-2">Our Mission</h2>
    <p>
      At Jungle, we are committed to enriching lives—one plant at a time. We believe that plants are not just decorative items; they're 
      companions that bring peace, joy, and a breath of fresh air into your space. Our mission is to:
    </p>
    <ul>
      <li>
        Demystify Plant Care: We provide detailed care guides and expert tips to make plant care easy and enjoyable for everyone, regardless 
        of their green thumb status.
      </li>
      <li>
        Sustain the Planet: Sustainability is at the root of all we do. We prioritize eco-friendly packaging and work closely with nurseries 
        that share our commitment to environmental stewardship.
      </li>
      <li>
        Cultivate Diversity: From the rare and exotic to the classic favorites, our collection is as diverse as the jungles that inspire us. 
        We’re constantly on the hunt for new species to add to our jungle, ensuring there’s a plant for every taste and space.
      </li>
    </ul>
    <h2 class="py-2">Why Jungle?</h2>
    <p>
      Expertly Curated Selection: Each plant in our collection is hand-selected and vetted for quality, health, and uniqueness.
    </p>
    <p>
      Sustainability First: We’re not just selling plants; we’re promoting a lifestyle that respects and preserves our planet.
    </p>
    <p>
      Beyond the Sale: Our relationship with you doesn’t end at checkout. From detailed plant care instructions to our responsive customer 
      service, we’re here to support your plant parenting journey every step of the way.
    </p>
  </div>
</section>
